body {
  background-color: rgb(0, 0, 24);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  max-width: 1024px auto;
}

h1 {
  font-size: 48px;
  color: white;
  margin-top: 200px;
  text-align: center;
}

p {
  line-height: 30px;
}
.about-text {
  text-align: justify;
}

.helloworld {
  text-align: center;
}

.gif {
  height: 200px;
}

main {
  max-width: 1024px;
  background-color: white;

  border-radius: 20px;
  margin: 0 auto;
}

nav {
  height: 100px;
  display: flex;
}

nav a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgb(0, 0, 110);
  text-decoration: none;
}
nav a:hover {
  color: rgb(2, 160, 233);
}

.computer {
  height: 400px;
  width: 1024px;
  object-fit: cover;
}

section {
  padding: 100px;
}

#education,
#contact {
  background-color: rgb(223, 223, 240);
}

.informations {
  display: flex;
  justify-content: center;
  align-items: center;
}

.informations img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: rgb(0, 9, 79) 2px solid;
  margin-right: 80px;
  margin-bottom: 100px;
}

.informations-texts img {
  height: 100px;
  width: 150px;
  object-fit: initial;
  border-radius: 1%;
  border: rgb(255, 255, 255) 2px solid;

  padding-left: 100px;
}

.name {
  font-size: 38px;
  font-weight: bold;
  color: #000031;
  margin-bottom: 50px;
}

.job,
.location {
  font-size: 30px;
  color: #000031;
  font-style: italic;
}

.location {
  margin-top: 20px;
  padding-left: 300px;
  padding-top: 10px;
}
h2,
h3 {
  font-weight: bold;
  color: #000031;
}

h3 {
  font-size: 26px;

  margin-bottom: 40px;
}

h2 {
  font-size: 30px;

  margin-bottom: 80px;
  text-align: center;
}
#education p {
  text-align: center;
}

#education img {
  height: 100px;
  margin-top: 50px;
}
#education div {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#education a {
  text-decoration: none;
  font-weight: bold;
  margin: 8px;
}

#education span {
  font-weight: bold;
}

#projects span {
  font-weight: bold;
}

#projects p {
  text-align: center;
}

.project-container {
  margin-top: 100px;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-container img {
  width: 500px;
  margin-right: 80px;
  box-shadow: 3px 3px 30px 6px #ccc;
  border-radius: 20px;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#projects li {
  line-height: 30px;
}

#projects ul {
  list-style-type: disc;
}

#projects a {
  text-decoration: none;
  color: black;
}

#contact img {
  height: 30px;
  margin-right: 20px;
}

#contact div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#contact a {
  color: black;
  text-decoration: none;
}

#contact a:hover {
  color: rgb(2, 160, 233);
}

footer {
  height: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

footer p {
  color: aqua;
  line-height: 40px;
}

#contact {
  border-radius: 20px;
}

@media (max-width: 350px) {
  .computer {
    height: 400px;
    width: 500px;
    object-fit: cover;
  }
}

@media (max-width: 400px) {
  body {
    background-color: rgb(0, 0, 24);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    width: 1024px;
  }
}
