body {
  background-color: rgb(0, 0, 24);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 48px;
  color: white;
  line-height: 200px;
  text-align: center;
}
.main-block {
  width: 1024px;
  background-color: white;
  height: 500px;
  border-radius: 20px;
  margin: 0 auto;
}
